<%= render "navs/navbar" %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <% if user_signed_in? %>
      <h1 class="display-3">User signed in</h1>
      <p class="lead">Salesforce Information:</p>
    <% else %>
      <h1 class="display-3">Not Logged In</h1>
      <p class="lead">You are not authenticated with Salesforce OAuth yet.</p>
    <% end %>
  </div>
</div>

